fastapi==0.115.4
uvicorn[standard]==0.32.0
pydantic==2.9.2
SQLAlchemy==2.0.36
alembic==1.13.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart==0.0.12
psycopg2-binary==2.9.9
Pillow==10.4.0
email-validator==2.2.0
